<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Netdata</short>
  <description>Netdata is high-fidelity infrastructure monitoring and troubleshooting.
Open-source, free, preconfigured, opinionated, and always real-time.</description>
  <port protocol="tcp" port="19999"/>
</service>